body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    background-color: #333;
    color: white;
    padding: 10px;
    margin: 10px 0;
}

.card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 20px;
    flex: 1 1 calc(25% - 20px);
    text-align: center;
    transition: transform 0.3s;
}

.card a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
